<div class="container-fluid wrapper">
  <div class="card bg-dark mb-3 sign-up-card">
    <div class="card-body">
      <div class="logo"></div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <a (click)="redirectToSignUp($event)" id="sign_up_btn" class="btn-grad">
        SING UP
      </a>
      <a (click)="redirectToLogIn($event)" id="log_in_btn" class="btn-grad">
        LOG IN
      </a>
    </div>
  </div>

  <div class="row row-about">
    <div class="col">
      <a (click)="redirectToAbout($event)" id="about_app_btn" class="btn-grad">
        ABOUT APP
      </a>
    </div>
  </div>
</div>
